@charset "UTF-8";

.container {
  min-width: 100dvw;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;
}

.header_image {
  position: absolute;
  top: 20px;
  left: 10px;
}

.header_image img {
  height: 64px;
  width: auto;
}

.nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  padding: 20px;
  z-index: 9999;

  font-size: 32px;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 0;
  line-height: 1;
}

.exp_top {
  font-size: 32px;
}

.exp_main {
  font-size: 64px;
  padding: 5px;
  background-color: #000;
  color: #fff;
  letter-spacing: 5px;
}

.exp_bottom {
  font-size: 20px;
}

.number {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 45%;
  left: 0;
  right: 0;
}

.number_container {
  position: relative;
}

.number_left {
  position: absolute;
  top: -30px;
  left: -35px;
  transform: rotate(-15deg);

  font-size: 30px;
}

.number_people {
  font-size: 128px;
  line-height: 1;
}

.share {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 99;
}

.share_top {
  font-size: 32px;
}

.share_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-size: 32px;
  padding: 0 30px;

  text-decoration: none;

  border-radius: 32px;

  background-color: #000;
  color: #fff;
}

.share_button i {
  padding-left: 7.5px;
}

.ragopasu img {
  width: 100%;
  height: auto;
  display: block;
}

.ragopasu {
  position: absolute;

  z-index: -1;
  width: 100dvw;
}

.ragopasu_white {
  top: 20px;
  right: -40%;
  transform: rotate(-150deg);
}

.ragopasu_black {
  bottom: -10%;
  left: -40%;
}

.heart_container {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.heart {
  position: absolute;
  background-image: url("/heart.png");
  background-size: cover;
  animation: animate-heart 5s linear;
  z-index: 999;
  opacity: 0;
}

@keyframes animate-heart {
  0% {
    top: 100vh;
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    top: 0;
    opacity: 0;
  }
}
